<!-- Stylesheet //-->
<style type="text/css">
.tg  {border-style:solid; border-collapse:collapse;border-spacing:0;width:100%;height:100%}
.tgh  {border-style:solid; border-collapse:collapse;border-spacing:0;}
.tgb  {border-style:solid; border-collapse:collapse;border-spacing:0;}
.tgf  {border-style:solid; border-collapse:collapse;border-spacing:0;}
.tg td{border-style:solid;border-width:0px;font-family:Arial
  sans-serif;font-size:14px;overflow:hidden;
     padding:10px 5px;word-break:normal;}
.tg th{border-style:solid;border-width:0px;font-family:Arial,
       sans-serif;font-size:14px;font-weight:normal;
          overflow:hidden;padding:10px 5px;word-break:normal;} .tg .tg-0cjc{background-color:#67fd9a;border-color:inherit;text-align:left;vertical-align:top}
.tg
.tg-kusv{background-color:#fffe65;border-color:inherit;text-align:left;vertical-align:top}
.tg
.tg-y698{background-color:#efefef;border-color:inherit;text-align:left;vertical-align:top;writing-mode:vertical-rl;text-orientation:upright}
.tg
.tg-ik58{background-color:#ffcb2f;border-color:inherit;text-align:left;vertical-align:top}
.tg
.tg-7dw8{background-color:#38fff8;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-med2{background-color:#38fff8}
.tg .tg-fqpo{background-color:#cbcefb}
.tg .tg-wvtg{background-color:#34cdf9}
.tg .tg-3ope{background-color:#ffcb2f}
.tg .tg-uhkr{background-color:#ffce93}
.tg .tg-cxkv{background-color:#ffffff}
.tg .tg-jhgd{background-color:#3166ff}
.tg .tg-thls{background-color:#009901}
.tg .tg-b286{background-color:#f56b00}
.tg .tg-702o{background-color:#cdffff}
.tg .tg-jl7l{background-color:#6665cd}
.tg .tg-es88{background-color:#cfcfcf}
</style>
<!-- ruby helper //-->
<% if !params['project_name'].nil? %>
  <h1><%= "PRINCE2 Process Details View for #{params['project_name']} " %></h1>
  <!-- Initialize the NON persistent Project Object and load with documents hash and data_frame //-->
  <% @project = Project.new(params['project_name'].upcase!) %>
  <!-- load with project data_frame //-->
  <% @data_frame = @project.get_project_data_frame %>
<% else %>
  <h1><%= "Welcome to the interactive Project Management guide !" %></h1>
  <% @data_frame = Project.get_default_data_frame %>
<% end %>

<!-- Table //-->
<table class="tg" >
<col>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<thead class="tgh">
 <tr>
  <td rowspan="5" class="tgh"></td>
  <th colspan="5" scope="colgroup" class="tgh">Project stages</th>
 </tr>
 <tr>
  <th class="tg-031e">Pre-Project Stage</th>
  <th class="tg-031e">Initiation Stage</th>
  <th class="tg-031e">Subsequent Delivery Stage</th>
  <th class="tg-031e"></th>
  <th class="tg-031e">Final Delivery Stage</th>
 </tr>
</thead>
<tbody class="tgb">
  <tr>
   <th scope="row" class="tg-031e">Corporate</th>
   <td class="tg-031e"><%= @data_frame['Pre']['Corporate'] %></td>
   <td class="tg-031e"><%= @data_frame['Initiation']['Corporate'] %></td>
   <td class="tg-031e"><%= @data_frame['Subsequent1']['Corporate'] %></td>
   <td class="tg-031e"><%= @data_frame['Subsequent2']['Corporate'] %></td>
   <td class="tg-031e"><%= @data_frame['Final']['Corporate'] %></td>
  </tr>
  <tr>
   <th scope="row" class="tg-031e">Direction</th>
   <td class="tg-kusv"><%= @data_frame['Pre']['Direction'] %></td>
   <td class="tg-jl7l"><%= @data_frame['Initiation']['Direction'] %></td>
   <td class="tg-jl7l"><%= @data_frame['Subsequent1']['Direction'] %></td>
   <td class="tg-jl7l"><%= @data_frame['Subsequent2']['Direction'] %></td>
   <td class="tg-jl7l"><%= @data_frame['Final']['Direction'] %></td>
   </tr>
   <tr>
    <th rowspan="2" scope class="tg-031e">Management</th>
    <td class="tg-kusv"><%= @data_frame['Pre']['Management1'] %></td>
    <td class="tg-0cjc"><%= @data_frame['Initiation']['Management1'] %></td>
    <td class="tg-ik58"><%= @data_frame['Subsequent1']['Management1'] %></td>
    <td class="tg-031e^"><%= @data_frame['Subsequent2']['Management1'] %></td>
    <td class="tg-7dw8"><%= @data_frame['Final']['Management1'] %></td>
   </tr>
   <tr>
    <td class="tg-kusv"><%= @data_frame['Pre']['Management2'] %></td>
    <td class="tg-0cjc"><%= @data_frame['Initiation']['Management2'] %></td>
    <td class="tg-0cjc"><%= @data_frame['Subsequent1']['Management2'] %></td>
    <td class="tg-0cjc"><%= @data_frame['Subsequent2']['Management2'] %></td>
    <td class="tg-7dw8"><%= @data_frame['Final']['Management2'] %></td>
   </tr>
   <tr>
    <th scope="row" class="tg-031e">Delivery</th>
    <td class="tg-031e"><%= @data_frame['Pre']['Delivery'] %></td>
    <td class="tg-031e"><%= @data_frame['Initiation']['Delivery'] %></td>
    <td class="tg-es88"><%= @data_frame['Subsequent1']['Delivery'] %></td>
    <td class="tg-es88"><%= @data_frame['Subsequent2']['Delivery'] %></td>
    <td class="tg-031e"><%= @data_frame['Final']['Delivery'] %></td>
   </tr>
 </tbody>
 <tfoot class="tgf">
  <tr>
   <th>Version (x.y.z):</th>
   <td colspan=5>x = Stage #; y = Hierachie Level #; z = Document #</td>
  </tr>
  <tr>
   <th>Example</th>
   <td colspan="5">0.0.1 = 1´st delivery (document) from Pre-Project Stage on Corporate Level
  </tr>
 </tfoot>
 </table>
