<!-- Stylesheet //-->
<style type="text/css">
.tg  {border-style:solid; border-collapse:collapse;border-spacing:0;width:94%; height:100%}
.tgh  {border-style:solid; border-collapse:collapse;border-spacing:0; height:10px}
.tgb  {border-style:solid; border-collapse:collapse;border-spacing:0;}
.tgf  {border-style:solid; border-collapse:collapse;border-spacing:0; height: 10px}
.tg td{border-style:solid;border-width:0px;font-family:Arial
  sans-serif;font-size:14px;overflow:hidden; height: 40px;
     padding:10px 5px;word-break:normal;}
.tg th{border-style:solid;border-width:0px;font-family:Arial,
       sans-serif;font-size:14px;font-weight:normal;
     overflow:hidden;padding:10px 5px;word-break:normal; height: 15px} 
.tg-0cjc{background-color:#67fd9a;border-color:inherit;text-align:left;vertical-align:top; border-style:solid} 
.tg-0cjd{background-color:#67df9d;border-color:black;text-align:left;vertical-align:top; border-style:solid}
.tg-kusv{background-color:#fffe65;border-color:black;text-align:left;vertical-align:top; border-style:solid}
.tg-ik58{background-color:#ffcb2f;border-color:black;text-align:left;vertical-align:top; border-style:solid}
.tg-7dw8{background-color:#38fff8;border-color:black;text-align:left;vertical-align:top; border-style:solid}
.tg-jhgd{background-color:#3166ff}
.tg-jl7l{background-color:#87cefa} 
.tg-es88{background-color:#cfcfcf}
.flexWrap {
  display: flex;
  width: 100%;
}
.flexCol {
  box-sizing: border-box;
  padding: 2px;
  width: 20%;
}
.flexColAct {
  box-sizing: border-box;
  padding: 2px;
  width: 20%;
</style>
<!-- ruby helper //-->
<% @logo = String.new('pdf_').concat('logo.jpeg') %>
<% if params['project_name'] == 'PRJ' %>
 <% then %>
 <h1>I am the "interactive Project Management Officer" (iPMO) whith name PRINCE2 </h1>
 <% else %>
  <h1><%= "iPMO Process Details for Project #{params['project_name']} " %></h1>
 <% end %>
  <!-- Initialize the NON persistent Project Object and load with documents hash and data_frame //-->
 <% # @project = Project.new(params['project_name']) %> 
 <!-- load with project data_frame //-->
 <% @data_frame = @project.get_project_dataframe %>
 <% @documents = @project.get_documents %>
 <% @processes = @project.get_processes %>
 <% @project_name = params['project_name'] %>
 <% @process_number = params['process'] %>
 <% @process = @processes[@process_number.to_i] %>
 <% Rails.logger.info "process[#{@process_number}] loaded[#{@process}]" %>
 <% @logo = String.new('word_').concat('logo.jpeg') if @project_name == 'PRJ' %>

 <!-- Navigation //-->
 <% @stArray = [
               '#fffe65', 
               '#87cefa', 
               '#67fd9a', 
               '#67df9d', 
               '#cfcfcf', 
               '#ffcb2f', 
               '#38fff8'
              ] %>

 <div class="flexWrap">
  <% i = 0 %>
  <% for i in 0..@stArray.size-1 do %>
    <% @link = "/details/#{@project_name}/#{i}" %>
     <div class="flexCol" style='background-color:<%= "#{@stArray[i]}" %>'>
       <a href='<%= "#{@link}" %>' 
         <% if i > 0  then %>
           <% if !@processes[i-1].is_eligable? then %>
             <%= "style='text-decoration: none' disabled='true' onclick='return false'" %>
           <% else %>
             <%= "style='text-decoration: underline'" %>
           <% end %>
         <% else %>
             <%= "style='text-decoration: underline'" %>
         <% end %>
          ><font size=2>
           <%= "#{@processes[i].get_proc_name}" %>
         </font>
     </a>
    </div>
   <% i = i + 1 %>
  <% end %>
 </div>

<% @eligable = false %>
<% iecolor = "red" %>
<% if @process_number != nil %>
 <% then %>
  <% eligable = @process.is_eligable? %>
  <% @process = @project.get_processes[@process_number.to_i] %>
  <% @processtxt = @process.get_proc_name %>
  <p>
  <font size="7" color="blue"><%= "#{@project_name} "%></font>
  <% iecolor = "green" if eligable %>
  <br />
  </p>
  <p>
  <font size="6" color="blue"><%= "#{@processtxt} " %></font>
  <br />
  <font size="5" color="<%= "#{iecolor}"%>"><%= "next stage eligable? => [#{eligable}] " %></font>
  </p>
  <br/>
  <hr />
<table style='width:50%; height:100%; background-color:<%= "#{@stArray[@process_number.to_i]}" %>'>
  <tr>
    <th><u>hierachie</u></th>
    <th>|</th>
    <% cname = nil %>
    <% @process.get_proc_dataframe.each{|col| %>
      <% Rails.logger.info "col[#{col.to_s} cname = #{col.name}" %>
      <% if !col.name.is_a?(Integer) && col.name != nil then cname = col.name.chop else cname = col.name end %> 
     <%= "<th><u>#{cname}</u></th>" %>
    <% } %>
  </tr>
  <%= @process.get_proc_dataframe.to_html_tbody() %>
</table>
<% else %>
<!-- Table //-->
<table class="tg">
  <colgroup>
    <col>
    <col span="2"></col>
    <col span="2"></col>
    <col span="3"></col>
    <col span="2"></col>
  </colgroup>

 <thead class="tgh">
 <tr>
  <td rowspan="2" class="tgh"></td>
  <th colspan="9" scope="col" class="tgh"><h1>Project stage</h1></th>
 </tr>
 <tr>
  <th class="tg-031e" scope="col" colspan="2"><h3>Pre-Project</h3></th>
  <th class="tg-031e" scope="col" colspan="2"><h3>Initiation</h3></th>
  <th class="tg-031e" scope="col" colspan="3"><h3>Subsequent Delivery</h3></th>
  <th class="tg-031e" scope="col" colspan="2"><h3>Final Delivery</h3></th>
 </tr>
</thead>
<tbody class="tgb">
  <tr>
    <th scope="row" class="tg-031e"><h3>Corporate</h3></th>
   <td class="tg-031e">
      <% if @data_frame[0][:corporate,0] != nil %>
        <%  puts "data_frame ====> #{@data_frame[0][:corporate,0]}" %>
       <%  puts @documents["#{@data_frame[0][:corporate,0]}"]%>
      <a href="<%= @data_frame[0][:corporate,0] %>" target="_blank">
        <img alt="failed to load" title='<%= @documents["#{@data_frame[0][:corporate,0]}"] %>' src="/home/sinatra/code/pm-guide/public/letter.jpeg" style="border:1px solid black" width="32" height="32">
      </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-031e">
     <% if @data_frame[1][:corporate,0] != nil %>
      <a href="<%= @data_frame[1][:corporate,0] %>" target="_blank">
        <img alt="failed to load" title='<%= @documents["#{@data_frame[1][:corporate,0]}"] %>' src="/home/sinatra/code/pm-guide/public/letter.jpeg" style="border:1px solid black" width="32" height="32">
      </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-031e">
    <% if @data_frame[2][:corporate,0] != nil %>
     <a href="<%= @data_frame[2][:corporate,0] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[2][:corporate,0]}"] %>' src="/home/sinatra/code/pm-guide/public/letter.jpeg" style="border:1px solid black" width="32" height="32">
     </a>
   <% else %>
   <% end %>
   </td>
   <td class="tg-031e">
    <% if @data_frame[3][:corporate,0] != nil %>
     <a href="<%= @data_frame[3][:corporate,0] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[3][:corporate,0]}"] %>' src="/home/sinatra/code/pm-guide/public/letter.jpeg" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-031e">
    <% if @data_frame[4][:corporate,0] != nil %>
     <a href="<%= @data_frame[4][:corporate,0] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[4][:corporate,0]}"] %>' src="/home/sinatra/code/pm-guide/public/letter.jpeg" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-031e">
    <% if @data_frame[5][:corporate,0] != nil %>
     <a href="<%= @data_frame[5][:corporate,0] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[5][:corporate,0]}"] %>' src="/home/sinatra/code/pm-guide/public/letter.jpeg" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-031e">
    <% if @data_frame[6][:corporate,0] != nil %>
     <a href="<%= @data_frame[6][:corporate,0] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[6][:corporate,0]}"] %>' src="/home/sinatra/code/pm-guide/public/letter.jpeg" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-031e">
    <% if @data_frame[7][:corporate,0] != nil %>
     <a href="<%= @data_frame[7][:corporate,0] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[7][:corporate,0]}"] %>' src="/home/sinatra/code/pm-guide/public/letter.jpeg" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
  <td class="tg-031e">
   <% if @data_frame[8][:corporate,0] != nil %>
    <a href="<%= @data_frame[8][:corporate,0] %>" target="_blank">
     <img alt="failed to load" title='<%= @documents["#{@data_frame[8][:corporate,0]}"] %>' src="/home/sinatra/code/pm-guide/public/letter.jpeg" style="border:1px solid black" width="32" height="32">
    </a>
   <% else %>
   <% end %>
   </td>
  </tr>
  <tr>
    <th scope="row" class="tg-031e"><h3>Direction</h3></th>
   <td class="tg-kusv">
     <% if @data_frame[0][:direct,1] != nil %>
       <a href="<%= @data_frame[0][:direct,1] %>" target="_blank">
         <img alt="failed to load" title='<%= @documents["#{@data_frame[0][:direct,1]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
       </a>
     <% else %>
     <% end %>
   </td>
   <td class="tg-kusv">
    <% if @data_frame[1][:direct,1] != nil %>
     <a href="<%= @data_frame[1][:direct,1] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[1][:direct,1]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-jl7l">
     <% if @data_frame[2][:direct,1] != nil %>
       <a href="<%= @data_frame[2][:direct,1] %>" target="_blank">
         <img alt="failed to load" title='<%= @documents["#{@data_frame[2][:direct,1]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
       </a>
     <% else %>
     <% end %>
   </td>
   <td class="tg-jl7l">
     <% if @data_frame[3][:direct,1] != nil %>
       <a href="<%= @data_frame[3][:direct,1] %>" target="_blank">
         <img alt="failed to load" title='<%= @documents["#{@data_frame[3][:direct,1]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
       </a>
     <% else %>
     <% end %>
   </td>
   <td class="tg-jl7l">
     <% if @data_frame[4][:direct,1] != nil %>
      <a href="<%= @data_frame[4][:direct,1] %>" target="_blank">
        <img alt="failed to load" title='<%= @documents["#{@data_frame[4][:direct,1]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
     <% else %>
     <% end %>
   </td>
   <td class="tg-jl7l">
     <% if @data_frame[5][:direct,1] != nil %>
      <a href="<%= @data_frame[5][:direct,1] %>" target="_blank">
        <img alt="failed to load" title='<%= @documents["#{@data_frame[5][:direct,1]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
     <% else %>
     <% end %>
   </td>
   <td class="tg-jl7l">
    <% if @data_frame[6][:direct,1] != nil %>
     <a href="<%= @data_frame[6][:direct,1] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[6][:direct,1]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-jl7l">
     <% if @data_frame[7][:direct,1] != nil %>
      <a href="<%= @data_frame[7][:direct,1] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[7][:direct,1]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
     <% else %>
     <% end %>
   </td>
   <td class="tg-jl7l">
    <% if @data_frame[8][:direct,1] != nil %>
     <a href="<%= @data_frame[8][:direct,1] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[8][:direct,1]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   </tr>
   <tr>
     <th rowspan="6" scope="row" class="tg-031e"><h3>Management</h3></th>
    <td class="tg-kusv">
      <% if @data_frame[0][:manage,2] != nil %>
         <a href="<%= @data_frame[0][:manage,2] %>" target="_blank">
           <img alt="failed to load" title='<%= @documents["#{@data_frame[0][:manage,2]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
         </a>
      <% else %>
      <% end %>
    </td>
    <td class="tg-kusv">
     <% if @data_frame[1][:manage,2] != nil %>
      <a href="<%= @data_frame[1][:manage,2] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[1][:manage,2]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
     <% else %>
     <% end %>
    </td>
    <td class="tg-031e">
     <% if @data_frame[2][:manage,2] != nil %>
      <a href="<%= @data_frame[2][:manage,2] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[2][:manage,2]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
     <% else %>
     <% end %>
    </td>
    <td class="tg-031e">
     <% if @data_frame[3][:manage,2] != nil %>
      <a href="<%= @data_frame[3][:manage,2] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[3][:manage,2]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
     <% else %>
     <% end %>
    </td>
    <td class="tg-ik58">
      <% if @data_frame[4][:manage,2] != nil %>
        <a href="<%= @data_frame[4][:manage,2] %>">
          <img alt="failed to load" title='<%= @documents["#{@data_frame[4][:manage,2]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
        </a>
       <% else %>
       <% end %>
    </td>
    <td class="tg-ik58">
      <% if @data_frame[5][:manage,2] != nil %>
        <a href="<%= @data_frame[5][:manage,2] %>" target="_blank">
          <img alt="failed to load" title='<%= @documents["#{@data_frame[5][:manage,2]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
        </a>
      <% else %>
      <% end %>
    </td>
    <td class="tg-031e^">
      <% if @data_frame[6][:manage,2] != nil %>
         <a href="<%= @data_frame[6][:manage,2] %>" target="_blank">
           <img alt="failed to load" title='<%= @documents["#{@data_frame[6][:manage,2]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
         </a>
      <% else %>
      <% end %>
    </td>
    <td class="tg-031e^">
     <% if @data_frame[7][:manage,2] != nil %>
      <a href="<%= @data_frame[7][:manage,2] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[7][:manage,2]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
     <% else %>
     <% end %>
    </td>
    <td class="tg-031e^">
     <% if @data_frame[8][:manage,2] != nil %>
      <a href="<%= @data_frame[8][:manage,2] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[8][:manage,2]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
     <% else %>
     <% end %>
    </td>
   </tr>
   <tr>
     <td class="tg-kusv">
       <% if @data_frame[0][:manage,3] != nil %>
         <a href="<%= @data_frame[0][:manage,3] %>" target="_blank">
           <img alt="failed to load" title='<%= @documents["#{@data_frame[0][:manage,3]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
         </a>
       <% else %>
       <% end %>
     </td>
     <td class="tg-kusv">
      <% if @data_frame[1][:manage,3] != nil %>
       <a href="<%= @data_frame[1][:manage,3] %>" target="_blank">
        <img alt="failed to load" title='<%= @documents["#{@data_frame[1][:manage,3]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
       </a>
      <% else %>
      <% end %>
     </td>
     <td class="tg-0cjc">
       <% if @data_frame[2][:manage,3] != nil %>
         <a href="<%= @data_frame[2][:manage,3] %>" target="_blank">
           <img alt="failed to load" title='<%= @documents["#{@data_frame[2][:manage,3]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
         </a>
       <% else %>
       <% end %>
     </td>
     <td class="tg-0cjc">
       <% if @data_frame[3][:manage,3] != nil %>
         <a href="<%= @data_frame[3][:manage,3] %>" target="_blank">
           <img alt="failed to load" title='<%= @documents["#{@data_frame[3][:manage,3]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
         </a>
       <% else %>
       <% end %>
     </td>
     <td class="tg-ik58">
       <% if @data_frame[4][:manage,3] != nil %>
         <a href="<%= @data_frame[4][:manage,3] %>" target="_blank">
           <img alt="failed to load" title='<%= @documents["#{@data_frame[4][:manage,3]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
         </a>
       <% else %>
       <% end %>
     </td>
     <td class="tg-ik58">
      <% if @data_frame[5][:manage,3] != nil %>
       <a href="<%= @data_frame[5][:manage,3] %>" target="_blank">
        <img alt="failed to load" title='<%= @documents["#{@data_frame[5][:manage,3]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
       </a>
      <% else %>
      <% end %>
     </td>
     <td class="tg-031e">
      <% if @data_frame[6][:manage,3] != nil %>
       <a href="<%= @data_frame[6][:manage,3] %>" target="_blank">
        <img alt="failed to load" title='<%= @documents["#{@data_frame[6][:manage,3]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
       </a>
      <% else %>
      <% end %>
     </td>
     <td class="tg-7dw8">
       <% if @data_frame[7][:manage,3] != nil %>
         <a href="<%= @data_frame[7][:manage,3] %>" target="_blank">
           <img alt="failed to load" title='<%= @documents["#{@data_frame[7][:manage,3]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
         </a>
       <% else %>
       <% end %>
     </td>
     <td class="tg-7dw8">
      <% if @data_frame[8][:manage,3] != nil %>
       <a href="<%= @data_frame[8][:manage,3] %>" target="_blank">
        <img alt="failed to load" title='<%= @documents["#{@data_frame[8][:manage,3]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
       </a>
      <% else %>
      <% end %>
     </td>
   </tr>
   <tr>
     <td class="tg-kusv">
      <% if @data_frame[0][:manage,4] != nil %>
       <a href="<%= @data_frame[0][:manage,4] %>" target="_blank">
        <img alt="failed to load" title='<%= @documents["#{@data_frame[0][:manage,4]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
       </a>
      <% else %>
      <% end %>
     </td>
    <td class="tg-kusv">
     <% if @data_frame[1][:manage,4] != nil %>
      <a href="<%= @data_frame[1][:manage,4] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[1][:manage,4]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
     <% else %>
     <% end %>
    </td>
    <td class="tg-0cjc">
    <% if @data_frame[2][:manage,4] != nil %>
     <a href="<%= @data_frame[2][:manage,4] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[2][:manage,4]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
     <% else %>
     <% end %>
    </td>
    <td class="tg-0cjc">
     <% if @data_frame[3][:manage,4] != nil %>
      <a href="<%= @data_frame[3][:manage,4] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[3][:manage,4]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
     <% else %>
     <% end %>
     </td>
     <td class="tg-ik58">
      <% if @data_frame[4][:manage,4] != nil %>
       <a href="<%= @data_frame[4][:manage,4] %>" target="_blank">
        <img alt="failed to load" title='<%= @documents["#{@data_frame[4][:manage,4]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
       </a>
      <% else %>
      <% end %>
      </td>
     <td class="tg-ik58">
     <% if @data_frame[5][:manage,4] != nil %>
      <a href="<%= @data_frame[5][:manage,4] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[5][:manage,4]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
      <% else %>
      <% end %>
     </td>
     <td class="tg-031e">
      <% if @data_frame[6][:manage,4] != nil %>
       <a href="<%= @data_frame[6][:manage,4] %>" target="_blank">
        <img alt="failed to load" title='<%= @documents["#{@data_frame[6][:manage,4]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
       </a>
      <% else %>
      <% end %>
     </td>
     <td class="tg-7dw8">
      <% if @data_frame[7][:manage,4] != nil %>
       <a href="<%= @data_frame[7][:manage,4] %>" target="_blank">
        <img alt="failed to load" title='<%= @documents["#{@data_frame[7][:manage,4]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
       </a>
      <% else %>
      <% end %>
     </td>
     <td class="tg-7dw8">
     <% if @data_frame[8][:manage,4] != nil %>
      <a href="<%= @data_frame[8][:manage,4] %>" target="_blank">
     <img alt="failed to load" title='<%= @documents["#{@data_frame[8][:manage,4]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
    </a>
    <% else %>
    <% end %>
     </td>
     <tr>
   <td class="tg-kusv">
      <% if @data_frame[0][:manage,5] != nil %>
       <a href="<%= @data_frame[0][:manage,5] %>" target="_blank">
        <img alt="failed to load" title='<%= @documents["#{@data_frame[0][:manage,5]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
       </a>
      <% else %>
      <% end %>
     </td>
     <td class="tg-kusv">
      <% if @data_frame[1][:manage,5] != nil %>
       <a href="<%= @data_frame[1][:manage,5] %>" target="_blank">
        <img alt="failed to load" title='<%= @documents["#{@data_frame[1][:manage,5]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
       </a>
      <% else %>
     <% end %>
    </td>
    <td class="tg-0cjc">
    <% if @data_frame[2][:manage,5] != nil %>
     <a href="<%= @data_frame[2][:manage,5] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[2][:manage,5]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
    </td>
    <td class="tg-0cjc">
    <% if @data_frame[3][:manage,5] != nil %>
     <a href="<%= @data_frame[3][:manage,5] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[3][:manage,5]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
    </td>
    <td class="tg-0cjd">
     <% if @data_frame[4][:manage,5] != nil %>
      <a href="<%= @data_frame[4][:manage,5] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[4][:manage,5]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
     <% else %>
     <% end %>
    </td>
    <td class="tg-0cjd">
     <% if @data_frame[5][:manage,5] != nil %>
      <a href="<%= @data_frame[5][:manage,5] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[5][:manage,5]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-0cjd">
    <% if @data_frame[6][:manage,5] != nil %>
     <a href="<%= @data_frame[6][:manage,5] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[6][:manage,5]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td> 
   <td class="tg-7dw8">
    <% if @data_frame[7][:manage,5] != nil %>
     <a href="<%= @data_frame[7][:manage,5] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[7][:manage,5]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-7dw8">
    <% if @data_frame[8][:manage,5] != nil %>
     <a href="<%= @data_frame[8][:manage,5] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[8][:manage,5]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   </tr>
   <tr>
   <td class="tg-kusv">
    <% if @data_frame[0][:manage,6] != nil %>
     <a href="<%= @data_frame[0][:manage,6] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[0][:manage,6]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-kusv">
    <% if @data_frame[1][:manage,6] != nil %>
     <a href="<%= @data_frame[1][:manage,6] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[1][:manage,6]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-031e">
    <% if @data_frame[2][:manage,6] != nil %>
     <a href="<%= @data_frame[2][:manage,6] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[2][:manage,6]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-031e">
    <% if @data_frame[3][:manage,6] != nil %>
     <a href="<%= @data_frame[3][:manage,6] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[3][:manage,6]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-0cjd">
    <% if @data_frame[4][:manage,6] != nil %>
     <a href="<%= @data_frame[4][:manage,6] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[4][:manage,6]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-0cjd">
    <% if @data_frame[5][:manage,6] != nil %>
     <a href="<%= @data_frame[5][:manage,6] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[5][:manage,6]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-0cjd">
    <% if @data_frame[6][:manage,6] != nil %>
     <a href="<%= @data_frame[6][:manage,6] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[6][:manage,6]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-7dw8">
    <% if @data_frame[7][:manage,6] != nil %>
     <a href="<%= @data_frame[7][:manage,6] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[7][:manage,6]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
    </td>
    <td class="tg-7dw8">
     <% if @data_frame[8][:manage,6] != nil %>
      <a href="<%= @data_frame[8][:manage,6] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[8][:manage,6]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
     <% else %>
    <% end %>
    </td>
   </tr>
   <tr>
   <td class="tg-kusv">
    <% if @data_frame[0][:manage,7] != nil %>
     <a href="<%= @data_frame[0][:manage,7] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[0][:manage,7]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-kusv">
    <% if @data_frame[1][:manage,7] != nil %>
     <a href="<%= @data_frame[1][:manage,7] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[1][:manage,7]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-031e">
    <% if @data_frame[2][:manage,7] != nil %>
     <a href="<%= @data_frame[2][:manage,7] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[2][:manage,7]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-031e">
    <% if @data_frame[3][:manage,7] != nil %>
     <a href="<%= @data_frame[3][:manage,7] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[3][:manage,7]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-0cjd">
    <% if @data_frame[4][:manage,7] != nil %>
     <a href="<%= @data_frame[4][:manage,7] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[4][:manage,7]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-0cjd">
    <% if @data_frame[5][:manage,7] != nil %>
     <a href="<%= @data_frame[5][:manage,7] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[5][:manage,7]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-0cjd">
    <% if @data_frame[6][:manage,7] != nil %>
     <a href="<%= @data_frame[6][:manage,7] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[6][:manage,7]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-7dw8">
    <% if @data_frame[7][:manage,7] != nil %>
     <a href="<%= @data_frame[7][:manage,7] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[7][:manage,7]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   <td class="tg-7dw8">
    <% if @data_frame[8][:manage,7] != nil %>
     <a href="<%= @data_frame[8][:manage,7] %>" target="_blank">
      <img alt="failed to load" title='<%= @documents["#{@data_frame[8][:manage,7]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
     </a>
    <% else %>
    <% end %>
   </td>
   </tr>
   <tr>
     <th scope="row" class="tg-031e"><h3>Delivery</h3></th>
    <td class="tg-031e">
      <% if @data_frame[0][:deliver,8] != nil %>
        <a href="<%= @data_frame[0][:deliver,8] %>" target="_blank">
          <img alt="failed to load" title='<%= @documents["#{@data_frame[0][:deliver,8]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
        </a>
      <% else %>
      <% end %>
    </td>
    <td class="tg-031e">
      <% if @data_frame[1][:deliver,8] != nil %>
        <a href="<%= @data_frame[1][:deliver,8] %>" target="_blank">
          <img alt="failed to load" title='<%= @documents["#{@data_frame[1][:deliver,8]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
        </a>
      <% else %>
      <% end %>
    </td>
    <td class="tg-031e">
     <% if @data_frame[2][:deliver,8] != nil %>
      <a href="<%= @data_frame[2][:deliver,8] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[2][:deliver,8]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
     <% else %>
     <% end %>
    </td>
    <td class="tg-031e">
     <% if @data_frame[3][:deliver,8] != nil %>
      <a href="<%= @data_frame[3][:deliver,8] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[3][:deliver,8]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
     <% else %>
     <% end %>
    </td>
    <td class="tg-es88">
      <% if @data_frame[4][:deliver,8] != nil %>
          <a href="<%= @data_frame[4][:deliver,8] %>" target="_blank">
            <img alt="failed to load" title='<%= @documents["#{@data_frame[4][:deliver,8]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
          </a>
      <% else %>
      <% end %>
    </td>
    <td class="tg-es88">
      <% if @data_frame[5][:deliver,8] != nil %>
          <a href="<%= @data_frame[5][:deliver,8] %>" target="_blank">
            <img alt="failed to load" title='<%= @documents["#{@data_frame[5][:deliver,8]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
          </a>
      <% else %>
      <% end %>
    </td>
    <td class="tg-es88">
     <% if @data_frame[6][:deliver,8] != nil %>
      <a href="<%= @data_frame[6][:deliver,8] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[6][:deliver,8]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
     <% else %>
     <% end %>
    </td>
    <td class="tg-031e">
      <% if @data_frame[7][:deliver,8] != nil %>
          <a href="<%= @data_frame[7][:deliver,8] %>" target="_blank">
            <img alt="failed to load" title='<%= @documents["#{@data_frame[7][:deliver,8]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
          </a>
      <% else %>
      <% end %>
    </td>
    <td class="tg-031e">
     <% if @data_frame[8][:deliver,8] != nil %>
      <a href="<%= @data_frame[8][:deliver,8] %>" target="_blank">
       <img alt="failed to load" title='<%= @documents["#{@data_frame[8][:deliver,8]}"] %>' src="/home/sinatra/code/pm-guide/public/<%= @logo %>" style="border:1px solid black" width="32" height="32">
      </a>
     <% else %>
     <% end %>
    </td>
   </tr>
 </tbody>
 <% end %>
